<div class='panel panel-primary'>
  <div class='panel-heading'>{{category}}</div>
</div>
<div class='panel-body'>
 <div class='table-responsive'>
   <table class='table'>
     <thead>
       <tr>
         <th>
           Clothes
         </th>
       </tr>
       <tr>
         <th>
         Footwear
         </th>
       </tr>
       <tr>
         <th>
           Accessories
         </th>
       </tr>
     </thead>
     <tbody *ngIf='list && list.length'>
       <tr *ngFor='let product of list'>
         <td>{{product.productName}}</td>
         <td>{{product.productColor}}</td>
         <td><img [imageZoom]='product.bigUrl' [src]='product.imageUrl' windowPosition="1"></td>
       </tr>
     </tbody>
   </table>
 </div>
</div>
